<div class="mb-5 text-center">
  <h2 class="display-6 fw-bold text-dark">Archivo de Pasodobles</h2>
  <p class="text-muted">Explora, consulta y descubre nuestra colección musical</p>
</div>

<!-- NavBar -->
<div class="row g-3 mb-4 bg-light p-3 rounded-4 shadow-sm align-items-center">
  <div class="col-md-6">
    <div class="input-group">
      <input type="text" class="form-control border-start-0" placeholder=" Buscar">
    </div>
  </div>
  <div class="col-md-3">
    <select class="form-select border-0 shadow-sm">
      <option selected value="">Todas las categorías</option>
    </select>
  </div>
  <div class="col-md-3">
    <select class="form-select border-0 shadow-sm">
      <option selected value="">Todos los compositores</option>
    </select>
  </div>
</div>

<!-- List -->
<div class="list-group list-group-flush shadow-sm rounded-4 border">
  @for (pasodoble of pasodobles; track pasodoble.id) {
    <!-- Cambiado de <a> a <div> para poder incluir múltiples enlaces internos -->
    <div class="list-group-item list-group-item-action py-3 px-3 border-light">
      
      <div class="row align-items-center">
        <!-- Columna 1: Título y Dedicatoria -->
        <div class="col-12 col-md-5">
          <!-- Enlace al detalle del Pasodoble -->
          <a [routerLink]="['/pasodobles', pasodoble.id]" class="fw-bold text-dark fs-6 text-decoration-none d-block">
            {{ pasodoble.title }}
          </a>
          <!-- Dedicatoria -->
          <small class="text-muted fst-italic d-block mt-1" style="font-size: 0.75rem;">
            {{ pasodoble.description || 'Sin dedicatoria registrada' }}
          </small>
        </div>

        <!-- Columna 2: Autor (Ahora es un enlace clicable) -->
        <div class="col-6 col-md-3 text-md-center mt-2 mt-md-0">
          <small>
            @if (pasodoble.author) {
              <!-- Enlace al perfil del Autor -->
              <a [routerLink]="['/authors', pasodoble.author.id]" class="text-primary text-decoration-none fw-medium">
                {{ pasodoble.author.name }}
              </a>
            } @else {
              <span class="text-muted">Desconocido</span>
            }
          </small>
        </div>

        <!-- Columna 3: Categoría -->
        <div class="col-6 col-md-3 text-md-center text-end mt-2 mt-md-0">
          <span class="badge bg-light text-secondary border fw-normal" style="font-size: 0.7rem;">
            {{ pasodoble.category}}
          </span>
        </div>

        <!-- Flecha decorativa -->
        <div class="col-md-1 text-end d-none d-md-block">
          <a [routerLink]="['/pasodobles', pasodoble.id]" class="text-muted text-decoration-none fs-5">&rsaquo;</a>
        </div>
      </div>
      
    </div>
  } @empty {
    <div class="text-center py-4 bg-white rounded-4">
      <div class="spinner-border spinner-border-sm text-secondary" role="status"></div>
    </div>
  }
</div>